@media (min-width: 554px) { /* Ícone das pesoas que visitaram a seção 1 para telas maiores */   
#user_elements /*Div que está presente o ícone e o número de views*/ {
    position: relative;
}
#user {
    position: absolute;
    right: 100px;
    top:12px;
}
#user_views{
    position: absolute;
    right: 66px;
    top: 20px;
    font-size: 20px;
}
}
/* Para repositórios*/
@media (min-width: 414px){
#estrela{
    position: absolute;
    right: 330px;   
}
#estrela_info{
    position: absolute;
    right: 305px;
    font-size: 28px;
}
#usericon_repo{
    position: absolute;
    right: 335px;
}
#userinfo_repo{
    position: absolute;
    right: 305px;
    font-size: 28px;
}
}
@media (max-width: 413px) {
    #estrela{
        position: absolute;
        right: 105px;       
    }
    #estrela_info{
        position: absolute;
        right: 85px;
        font-size: 23px;
    }
    #usericon_repo{
        position: absolute;
        right: 109px;
    }
    #userinfo_repo{
        position: absolute;
        right: 90px;
        font-size: 20px;
    }
}